<li class="meetup-item">
    <article>
        <div class="meetup-summary">
            <div class="meetup-image">
                <!-- <img class="meetup-image-size" src='C:/Users/b2b/Desktop/pikachu.png' alt=""> -->
            </div>
            <div class="meetup-details">
                <h3>{{ essay_item.title}}</h3>
                <p>{{ essay_item.description }}</p>
            </div>
        </div>
        <div class="meetup-actions">
            {% comment %} <a href="/pawel_pedryc_developer/{{ essay_item.slug }}" class="btn">More details</a> {% endcomment %}
            <a href="{% url 'essay-path' essay_item.slug %}" class="btn">More details</a>
        </div>
    </article>
</li>