{% extends 'pawel_pedryc_developer/base/base.html' %}
{% load static %}

{% block title %}{{ essay_title }}{% endblock %}

{% block site_css %}
<link rel="stylesheet" href="{% static 'pawel_pedryc/styles/meetup-detail.css' %}">
{% endblock %}

{% block main_heading%}
{{ essay_title }}
{% endblock%}


{% block body %}
<article>
    <img src="" alt="">

    <section id="location">
        <h2>Other infos</h2>
        <address>This essay was made in <span>LOCATION</span> (ADDRESS).</address>
    </section>

    <section id="details">
        <h2>What's this essay about?</h2>
        <p>{{ essay_description }}</p>
        <footer>
            <p>Need more details? <a href="">Please contact me</a> (but don't spam ;))</p>
        </footer>
    </section>
    <section id="registration">
        <h2>Send me your request and job offers!</h2>
        FORM
    </section>
</article>
{% endblock%}