{% extends 'pawel_pedryc_developer/base/base.html' %}
{% load static %}

{% block title %}My developer's profile{% endblock %}

{% block site_css %}
<link rel="stylesheet" href="{% static 'pawel_pedryc/styles/all-meetups.css' %}">
{% endblock %}

{% block main_heading%}
Tytuł strony o mnie
{% endblock%}

{% block header_content%}
tu może dam jakiś cytat
{% endblock%}
    
{% block body %}
            <section>
                <h2>Moje artykuły i eseje</h2> 
                <ol>
                    {% if show_text_content %}
                        {% for essay_item in text_content %}

                            {% include 'pawel_pedryc_developer/includes/essay-items.html' %}

                        {% endfor %}
                    {% else %}
                        <h2>New content comming soon!</h2>
                    {% endif %}
                </ol>
            </section>
{% endblock %}
        